html{
    background-image: url(/img/bgcocina1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

body{
    background-color: transparent;
}
.prueba{
    background-color: blue;
    background-color: rgba(155, 60, 0, 0.5);
}

.largeicon{
    font-size: 1.1rem;
    color: rgba(4, 248, 230, 0.72);
}

.contHis{
    width: 90%;
    margin: 0 auto;
}

.label{
    width: 100%;
    background-color: rgba(0, 36, 155, 0.5);
    
}

.contenedorppal{
    background-color: blue;
    background-color: rgba(155, 60, 0, 0.5);
}

.sabor{
        background-color: blue;
    background-color: rgba(255, 255, 255, 0.5);
}

.cctt{
        background-color: blue;
    background-color: rgba(255, 255, 255, 0.5);
}


.encabezado{
    background-color: #10a6ac;
}
.area1{
    padding: 5px;

}

.slogan{
    text-align: right;
}

.imgrico{
   padding: 2px;
    border-radius: 8px;
}

.buscador{
    width: 100%;
    
}

.favoritos{
    border: 1px solid green;
}

.imgpasta1{
    width: 100%;
}

.areacomentario{
    margin-top: 45px;
}

#coment1{
    margin-bottom: 5px;
}

.filabuscador{
    padding-top: 10px;
}

.imgfav img{
    width: 33%;

}


.grupobtn{
    width: 90%;
    margin: 0 auto;
}

.btnfavo{
    margin-bottom: 0;
    border: 0.5px solid white;
    background-color: rgba(0, 36, 155, 0.5);
    
}

.contenidofavo{
    background-color: bisque;
    height: auto;
    margin: 0;
    border-radius: 5px;
    
}

.pastas{
    border: 1px solid red;
}

body{
    width: 80%;
    margin: 0 auto;
}