@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fue6h4');
  src:  url('fonts/icomoon.eot?fue6h4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fue6h4') format('truetype'),
    url('fonts/icomoon.woff?fue6h4') format('woff'),
    url('fonts/icomoon.svg?fue6h4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-with-circle:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-linkedin-with-circle:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-pinterest-with-circle:before {
  content: "\e904";
}
.icon-pinterest:before {
  content: "\e905";
}
.icon-tumblr-with-circle:before {
  content: "\e906";
}
.icon-tumblr:before {
  content: "\e907";
}
.icon-twitter-with-circle:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-vimeo-with-circle:before {
  content: "\e90a";
}
.icon-vimeo:before {
  content: "\e90b";
}
.icon-youtube-with-circle:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e90d";
}
