html{
    background-image: url(/img/bkconcert.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body{
    margin: 0 auto;
    width: 80%;
    background-color: transparent;
}



.navbar{
    min-height: 90px;
}
.navbar-right{
    padding-right: 10px;
    padding-bottom: 5px;
}


.navbar-header img{
    width: 90px;
    min-height: 60px;
    margin-left: 15px;
    box-sizing: border-box;
}

.navbar-brand{
    min-height: 90px;
    padding: 0;

}

.titleblog{
    margin-top: 30px;
}

.navega{
    background-color: aquamarine;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}




@media only screen and (max-width:768px){
    .contppal{
        width: 768px;
    }
}



.buslado{
 
    margin-left: 5px;
    padding: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.filabus{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 0;
    width: 100%;
}

.contenedor-opciones{
    margin: 0 auto;
    width: 100%;
    margin-left: 12px;
    padding-left: 0;
    padding-right: 0;
}

.itemsbus{
    margin: 0 auto;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tex{
    width: 75%;
    border-radius: 8px;
}

.areacomentario{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.bordeareacom{
    margin-left: 5px;
    padding-left: 0;
    padding-right: 0;
    
}


.icono{
    
    width: 5%;
    width: auto;
    margin-left: 5px;
    padding-top: 3px;
}

#comments{
    width: 97%;
    border-radius: 10px;
    max-height: 30px;
    margin-left: 0;
    margin-right: 0;
}

.bbtt{
    margin-right: 5px;
}


.bton{
    border-radius: 2px;
}
.generos{
    margin-top: 7px;
    margin-bottom: 7px;
    width: 93%;
    padding-left: 10px;
    padding-right: 0;
    border: 0;
}
.areabusqueda{
    margin top: 0;
    margin-bottom: 0;

}

.searchform{
    width: 100%;
}
.areappal{
    margin: 0;

    
}

.wrapper{
    background-color: rgba(197, 201, 211, 0.9);
}


.img-responsive img{
    padding-top: 15px;
    margin-bottom: 10px;
    padding-left: 5px;


   width: 100%;
}

.traperos{
    margin-top: 10px;
}

.row iconocom{
    width: 80px;
}

.filaNav{
    margin-bottom: 5px;
}

@media only screen and (max-width:320px){
        .grupobtns{
            display: none;
        }
        .container{
            width: 100%;
            padding-right: 0;
            padding-left: 0;
            margin-right: 0;
            margin-left: 0;

        }
        body{
            margin-right: 20px;
            margin-left: 20px;    
        }

        .itemsbus, .generos{
        font-size: 0.9em;
    }
    .container .conbusppal{
        width: 200px;
        padding-left: 0;
        padding-right: 0;
    }
    #searchform>input{
        width: 100%;
    }
    .container-fluid>.navbar-right{
        padding-right: 0;
    }
}


