.caja_animada{
    height: 100px;
    background-color: aqua;
    width: 250px;

    
}    

.caja_animada:hover{
    -webkit-animation:1s mario 1;
    -moz-animation:1s mario 1;
}

@-webkit-keyframes mario{
    from{
        background:blue;
        color: white;
        width: 300px;
    
    
    }
    to{
        background: red;
        color: black;
        width: 600px;
    }
}

