html{
   
    background-image: url(/img/ocotalvistacerro.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
       background-color: blue;
    background-color: rgba(255, 249, 245, 0.7);
}

.formulario{
    background-color: blue;
}


.row .gruta{
    width: 50%;
    float: left;
    margin-right:10px;
    margin-bottom: 10px;
}


h5, p{
    text-align: justify;
    padding: 10px;
}

.autor, h5{
    text-align: center;
    padding: 5px; 
}

.textogruta{
    padding-left: 10px;
    padding-right: 10px;
}
form{
    background-color: #18137e;
}

.formulario>h5{
    color: white;
}

.listabtn ul li{
    display: inline;
}

form, i{
    color: white;
}

ul li .btn{
    margin-right: 0;
}
.imgs{
    margin: 0;
}

.social{
    position: fixed;
    font-size: 1.2em;
    top: 100px;
    left: 140px;
    z-index: 1000;
    
}

.social ul{
    list-style: none;
}

.social ul li a{
    border-radius: 0 5px 5px 0;
}

.social ul li a{
    display:inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social ul li a:hover{
    padding: 10px 30px;
    background: #000;
}

.social ul li .icon-facebook{background:#3b5998;}
.social ul li .icon-twitter{background:#00abf0;}
.social ul li .icon-pinterest{background:#c60c0c;}
.social ul li .icon-linkedin{background:#3b5998;}
.social ul li .icon-youtube{background:#ff0000;}

@media only screen and (max-width:1024px){
    nav ul li a{
       margin-right: 0;
    }

}

@media only screen and (max-width:780px){
    .titoco{
        font-size: 3.2em;
    }
    .social{
        left: 0;
    }

}

@media only screen and (max-width:320px){
    .titoco{
        font-size: 1.9em;
    }
    .filtitoco .capto{
        margin-top: 10px;
        height: 35px;
    }
    .subtitu{
        font-size: 1.2em;    
    }
     .container .cabeza img{
        width: 95%;
         left: 5px;
    }
    .social{
        left: 0;
    }
}


.botonenviar{
    padding-right: 10px;
}

.titoco{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.cabeza .filtitoco{
    margin-bottom: 0;
}

.cabeza .subtitu{
    font-style: italic;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.capto{
    margin-bottom: 0;
    padding-bottom: 0;   
    height: 60px;
}

.turis{
    position:relative;
    left: 25px;
    top: 15px;
    width: 250px;  
}

.container .cabeza{
    margin-bottom: 10px;
}


 .cabeza img{
    width: 60%;
     text-align:center;
     position:relative;
     left: 30px; 
     top: 10px;
}

.cabeza .filadelfoot{
    margin-bottom: 0;
}

.colizqimg, img{
    padding-left: 10px;    
}

.coldchaimg{
    
    padding-right: 10px;        
}









