body{
    width: 960px;
    margin: 0 auto;


}

.ci{
    border: 1px solid red;
}


.fija{
    width: 960px;
}

.autor{
    text-align: center;
}

.textautor{
    font-size: 1em;
    text-align: justify;
    width: 100%;
}

.textguad{
    text-align: justify;
}



.container{
    width: 100%;
}

@media only screen and (max-width:768px){
    nav{
       width: 768px; 
    }
}

@media only screen and (max-width:320px){
    nav{
       width: 320px; 
    }
    row{
        width: 320px;
    }

}