body{
    margin: 0;
    padding: 0;
    background-color: black;
    
}

.contenido{
    width: 900px;
    margin: 0 auto;
        
}
header{
    background-color: #5b7989;
    height: 50px;
    border-radius: 10px 10px 0 0;
    padding: 0;
    margin: 0;

}

h2{
    font-family: dancing script;
    color: white;
    text-shadow: 0 2px #02010a;
    position: absolute;
    left: 20%;
    margin-top: 10px;

}

h3{
    margin: 0;
   
}

h3>ul li{
    display: block;
    flex: none;
    padding-left: 15px;
}

.menu nav ul {
    font-family: dancing script;
    color: white;
    text-shadow: 0 2px #02010a;
    position: absolute;
    padding: 0;
   right: 20%;

}

nav ul>li{
    display:inline;
    font-size: 1.1em;
    margin: 5px;
}

nav ul li a{
    text-decoration: none;
    color: blue;
}

nav ul li a:hover{
    text-decoration:underline;
    color: white;    
}



.imgctral{
    background: #82c3a6;
    height: auto;
    text-align: center;
}

.imgctral>img {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.imgdble{
     background-color:  #d5c75f;
    height: auto;
    text-align: center;
    display:flex;
    box-sizing: border-box;
}

.imgdble img{
    width: 70%;
    border: 1px solid black;
    margin:20px;
}

.img1{

    margin: 0;
    padding: 0;
    height: 230px;
    
}

.img2{

    margin: 0;
    padding: 0;
    height: 230px;
    
}

.img1 img:hover{
    
    transform: rotate(10deg);
    box-shadow: 3px 5px #82c3a6;
    border:  2px solid black;
}

.imgdble div{
    display: block;
    margin: 3px;
    box-sizing: border-box;
    padding-bottom: 0;

}


.img2 img:hover{
    transform: translate(20px, -5px);
    box-shadow: 5px 5px #82c3a6;
    border: 2px solid black;
}

/*Archivo HTML paisajes.html*/

.cont-gral{
    text-align: center;
    width: 900px;
     height:425px;
    background-color: #d5c75f;
    margin: 0;
    
}

.cont-imgs1 img{
    width: 30%;
    display:flex;
    float: left;
    margin: 15px;  
}

.cont-imgs2 img{
    width: 30%;
    display:flex;
    float: left;
    margin: 15px;
    box-sizing: border-box;
}

.img1Pai{
    -webkit-filter:blur(10px);
    filter:blur(10px);
}

.img2Pai{
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%x);
}

.img4Pai{
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%x);
}

.img6Pai{
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
}

.img3Pai{
    -webkit-filter:sepia(90%);
    filter:sepia(90%);
}




#contacto ul>li{
    display:block;
    font-size: 1.1em;
    margin: 5px;
}

#detcto{
    width: 90%;
    text-align: left;
    margin-left: 10%;
   padding-left: 15px;
    display:block;
}


#redes{
    width: 90%;
    text-align: left;
    margin-left: 10%;
    padding: 0;
    display:block;
}

#redes a{
    text-decoration: none;
    color: black;

}

#redessociales ul>li{
    display:block;
    font-size: 1.1em;

}

.email::before{
    content: "\f0e0";
    position:relative;
    font-family: "FontAwesome";
    font-size: 0.9em;
    color:#464646;
    padding-left: 8px;
    padding-top: 5px;
     box-sizing: border-box;
    margin-right: 5px;

}

.adrss::before{
    content: "\f041";
    position: relative;
    font-family: "FontAwesome";
    font-size: 20px;
    color:  #464646;
    padding-left: 8px;
    padding-top: 5px;
     box-sizing: border-box;
     margin-right: 5px;
}

.celular::before{
    content: "\f098";
    position: relative;
    font-family: "FontAwesome";
    font-size: 1em;
    color:#464646;
    padding-left: 8px;
    padding-top: 5px;
     box-sizing: border-box;
     margin-right: 5px;
}

.red1::before{
    content: "\f230";
    position: relative;
    font-family: "FontAwesome";
    font-size: 1em;
    color:#464646;
    padding-left: 8px;
    padding-top: 5px;
     box-sizing: border-box;
     margin-right: 5px;
}

.red2::before{
    content: "\f099";
    position: relative;
    font-family: "FontAwesome";
    font-size: 1em;
    color:#464646;
    padding-left: 8px;
    padding-top: 5px;
     box-sizing: border-box;
     margin-right: 5px;
}

.red3::before{
    content: "\f16d";
    position: relative;
    font-family: "FontAwesome";
    font-size: 1em;
    color:#464646;
    padding-left: 8px;
    padding-top: 5px;
     box-sizing: border-box;
     margin-right: 5px;
}

.imgdble div>p{

    font-family: dancing script;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 0;

}


footer{
    background-color: #C6d5c5;
    font-family: dancing script;
    color: black;
    display: flex;
    width: auto;
    border-radius: 0 0 10px 10px;
    height: auto;
    font-size: 1.1em;
    
}

footer>div{
    width: 25%;
    text-align: center;
    margin-top: 10px;
}






@media screen and (max-width:420px){
    
/*        .cont-gral{
        height: 1600px;
    }*/
    
        
/*Estilos para Paisajes.html*/
    
    .cont-gral{
        width: 100%;
        margin: 0 auto;
        height: 1580px;
        
    }
    
    .contenido{
        width: 100%;
        margin: 0 auto;
    }
    
    header{
        height: 80px;
        animation: slidein 3s;
    }

    @-webkit-keyframes slidein{
        0%{
            margin-top: 150%;
        }
        
        
        30%{
            margin-top: -5%;
        }
        
        60%{
            margin-top: 5%;
        }
        
        80%{
            margin-top: -1%;
        }
        
        100%{
            margin-top: 0%;
        }
    }
    
    .menu nav ul{
        position: absolute;
        margin-top: 50px;
        left: 29%;
    }
    
    h2{
        position: absolute;
        left:17%;
    }

    
      .cont-imgs1{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        float: left;
        height: auto;
            
    }
    
        .cont-imgs2{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        float: left;
        height: auto;
            
    }
    

.imgctral>img {
    width: 85%;
    margin: 2%;
}
    
.imgdble{
    width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        margin: 0;
    }
    
.capsul1{
        margin: 0;
        width: 100%;
    height: auto;
    }
    
    
.capsul2{
        margin: 0;
        width: 100%;
      height: auto;
    }


    .img1{
        height: auto;
    }

    .img2{
        height: auto;
    }
    
    .img1 img{
        margin: 0;
        width: 85%;
    }
    
    .img2 img{
        margin: 0;
        width: 85%;
    }
    
    footer{
        display: flex;
        flex-flow: row wrap;
        
    }

    footer>div{
        width: 100%;
        text-align: left;
        margin-left: 15px;
    }
    #contacto p{
        margin-top: 2px;
    }
    
    #terminos p{
        margin-top: 0;
    }
    
    #redessociales p{
        margin-top: 0;
    }
    
    #derechos p{
        margin-top: 0;
    }
    
    #detcto{
        margin-left: 0;
        padding: 0;

    }
    
    #redes{
        margin-left: 0;
        padding: 0;
    }

    
    .cont-imgs1 #columnas{
        width: 33%;
        display: flex;
        float: left;

        
    }

    
    #columnas img{
        width: 90%;
    }
    
    .cont-imgs1 div .img1Pai{
        width: 100%;
    }

    
       #columna1{
        width: 100%;
        margin: 10px;
        height: 240px;
    }
    
    .img1Pai{
        height: 260px;
        margin: 0;    
    }
    
    #columna1 img{
        width: 90%;

    }
    
        #columna2{
        width: 100%;
        margin: 10px;
        height: 240px;
    }
    
        .img2Pai{
        height: 260px;
        margin: 0;    
    }
    
    
    
    #columna2 img{
        width: 90%;
    }
    
      #columna3{
        width: 100%;
        margin: 10px;
        height: 240px;
    }
    
        .img3Pai{
        height: 260px;
        margin: 0;    
    }
    
    
    
    #columna3 img{
        width: 90%;
    }
    
    #columna4{
        width: 100%;
        margin: 10px;
        height: 240px;
    }
    
        .img4Pai{
        height: 260px;
        margin: 0;    
    }
    
    
    
    #columna4 img{
        width: 90%;
    }
    
     #columna5{
        width: 100%;
        margin: 10px;
        height: 240px;
    }
    
        .img5Pai{
        height: 260px;
        margin: 0;    
    }
    
    
    
    #columna5 img{
        width: 90%;
    }
    
     #columna6{
        width: 100%;
        margin: 10px;
        height: 240px;
    }
    
        .img6Pai{
        height: 260px;
        margin: 0;    
    }
    
    
    
    #columna6 img{
        width: 90%;
    }
    
    
    
}





@media screen and (max-width:320px){
   
        h2{
        position: absolute;
        left:8%;
    }
    
    .menu nav ul{
        position: absolute;
        margin-top: 50px;
        left: 21%;
    }
    

    .cont-gral{
        height: 1280px;
    }
    
    .cont-imgs1{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        float: left;
        height: auto;
            
    }
    
        .cont-imgs2{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        float: left;
        height: auto;
            
    }
    
    #columna1{
        width: 100%;
        margin: 0;
        height: 210px;
    }
    
    .img1Pai{
        height: 210px;
        margin: 0;    
    }
    
    #columna1 img{
        width: 90%;

    }
    
        #columna2{
        width: 100%;
        margin: 0;
        height: 210px;
    }
    
        .img2Pai{
        height: 210px;
        margin: 0;    
    }
    
    
    
    #columna2 img{
        width: 90%;
    }
    
      #columna3{
        width: 100%;
        margin: 0;
        height: 210px;
    }
    
        .img3Pai{
        height: 210px;
        margin: 0;    
    }
    
    
    
    #columna3 img{
        width: 90%;
    }
    
    #columna4{
        width: 100%;
        margin: 0;
        height: 210px;
    }
    
        .img4Pai{
        height: 210px;
        margin: 0;    
    }
    
    
    
    #columna4 img{
        width: 90%;
    }
    
     #columna5{
        width: 100%;
        margin: 0;
        height: 210px;
    }
    
        .img5Pai{
        height: 210px;
        margin: 0;    
    }
    
    
    
    #columna5 img{
        width: 90%;
    }
    
     #columna6{
        width: 100%;
        margin: 0;
        height: 210px;
    }
    
        .img6Pai{
        height: 210px;
        margin: 0;    
    }
    
    
    
    #columna6 img{
        width: 90%;
    }
    
    
}

